*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1315px;
    margin: 0 auto;
}

ul,ol{
    margin: 0 !important;
    padding: 0 !important;
}
body{
    font-size: 16px;
}
.aling-item{
    align-items: center;
}
.header-area{
    background-image: url(..//images/main-header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0 80px;
    align-items: center;
    & img{
        max-width: 220px;
        
    }
}
.main-header-manu{
    .menu{
        list-style: none;
        display: flex;
        column-gap: 40px;
        justify-content: end;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color:#FFFFFF;
                text-transform: capitalize;
                &:hover{
                    color:#FF5400;
                }
            }
            &.has-dropdown{
                position: relative;
                .d-menu{
                    position: absolute;
                    left: 0;
                    visibility: hidden;
                    opacity: 0;
                    padding-top: 30px!important;
                    transform: translateX(-50px);
                    transition: all 300ms ease-in-out;
                    a{
                        padding: 5px 10px;
                        background-color: #FF5400;
                        display: block;
                        color: #111;
                        &:hover{
                            background-color: transparent;
                            color: #F0F3F5;
                        }
                    }
                }
                &:hover{
                    .d-menu{
                        visibility: visible;
                        opacity: 1;
                        transform: translateX(0);
                        width: 200px;

                    }
                   
                }
               
            }
        }
       
    }
}
.header-btn-area{
    // text-align: right;
    a{
    display: inline-block;
    height: 50px;
    width: 220px;
    background-color: #FF5400;
    text-transform: capitalize;
    text-align: center;
    line-height: 50px;
    color: #FFFFFF;
    text-decoration: none; 
    border-radius: 10px;
 
    }
}
.main-manu-search{
    padding-top :80px;
}
.search-left{
    display: flex;
    
    select{
        height: 72px;
        width: 151px;
        text-align: left;
        border-radius: 5px 0 0 5px;
        outline: none;
        box-shadow: none;
        text-decoration: none;
        padding-left:10px;


        
    }
    a{
        display: flex;
        align-items: center;
        text-decoration: none;
        input{
            height: 72px;
            width: 100%;
            background-color: #FFFFFF;
            opacity: 40%;
            border-radius: 0 5px 5px 0;
            outline: none;
            box-shadow: none;
            text-decoration: none;
            padding-left: 10px;
        }
    }
    
}
.search-input{
    flex-basis:100%;
}
.right-search{
  
    select{
    height: 71px;
    width: 304px;
    background-color: #F0F3F5;
    text-align:center;
    border-radius: 5px 5px;
    background-color: transparent;
    color: aliceblue;
    option{
        color: black;
    }
    }
}
//nab-tab area start
.tab-area{
    padding: 100px 0 0 60px;
}

.icon-box{
    position: relative;
}
    .star-icon{
        position: absolute;
        background-color:#FFFFFF;
        width:90px;
        height: 40px;
        line-height: 40px;
        border-radius: 25px;
        text-align: center;
        display: inline-block;
        font-weight: 700;
        top: -230px;
        left: 15px;
      
        i{
        color:#FF5400;
        }
    }

    .price {
        background-color: #FF5400;
        height: 80px;
        width: 80px;
        position: absolute;
        font-size: 28px;
        font-weight: 700;
        line-height: 80px;
        border-radius: 360px;
        text-align: center;
        color: #fff;
       right: 15px;
       bottom: -46px;
    }
.content-box{
    padding : 50px 50px;
}

.content-area{
    background-color: #E5E5E5;
    height: 272px;
    padding: 32px;
    color: #012665;
    &:hover{
        background-color: #FFFFFF;
        border: 1px solid ;
        border-radius: 0 0 10px 10px;
    }
    span{
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
    }
    h1{
        padding: 12px 0 12px;
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        &:hover{
            color:#FF5400;
        }
    }
    p{
        font-size: 16px;
        font-weight: 300;
        line-height:25px;
    }
    
}
//corus-item start
.popular-course{
    padding: 24px 0;
    border-bottom: 1px solid #c9c3c3;
    margin-bottom: 24px;
    align-items: center;
    h4{
        font-size:40px ;
        font-weight: 700;
    }
    a{
        text-decoration: none;
        background-color: #E5E5E5;
        padding:10px;

        
        span{
            font-size:20px ;
            font-weight: 500;
            padding: 20px;
            color:black;
        }
    }
    
}
.course-area{
    padding-bottom: 72px;
}   
.course-content-area{
    background-color: #E5E5E5;
    height: 272px;
    padding: 32px;
    color: #012665;
    &:hover{
        background-color: #FFFFFF;
        border: 1px solid ;
        border-radius: 0 0 10px 10px;
    }
    span{
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
    }
    h1{
        padding: 12px 0 12px;
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        &:hover{
            color:#FF5400;
        }
    }
    p{
        font-size: 16px;
        font-weight: 300;
        line-height:25px;
    }
}


// learning-area-start
.learnig-area-main{
    padding-bottom: 72px;
}
.learning-area{
    background-image: url(..//images/learning-area-bg.png);
    background-color: #693FD7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    & img{
        width: 100%;
    }
    .learning-area-left{
        padding:75px 90px 75px 60px;
        h1{
            padding-bottom: 24px;
            font-size: 56px;
            font-weight:700px;
        }
    }
}
// End
// yoga-course start
.yoga-content-area{
    background-color: #E5E5E5;
    height: 272px;
    padding: 32px;
    color: #012665;
    &:hover{
        background-color: #FFFFFF;
        border: 1px solid ;
        border-radius: 0 0 10px 10px;
    }
    span{
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
    }
    h1{
        padding: 8px 0 8px;
        font-size: 28px;
        font-weight: 700;
        line-height: 30px;
        &:hover{
            color:#FF5400;
        }
    }
    p{
        font-size: 16px;
        font-weight: 300;
        line-height:25px;
    }
}
// end

// development-area start
.develorment-content{
    background-color: #E5E5E5;
    height: 272px;
    padding: 32px;
    color: #012665;
    &:hover{
        background-color: #FFFFFF;
        border: 1px;
        border-radius: 0 0 10px 10px;
    }
    span{
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
    }
    h1{
        padding: 8px 0 8px;
        font-size: 28px;
        font-weight: 700;
        line-height: 30px;
        &:hover{
            color:#FF5400;
        }
    }
    p{
        font-size: 16px;
        font-weight: 300;
        line-height:25px;
    }
}
//promo-tab start
.promo-tab{
    
    .nav{
        gap: 24px;
    .nav-item{

        .nav-link{
            border-radius: 5px;
            padding: 16px 40px;
            background-color: #E5E5E5;
            color:black;
            font-size: 18px;
            &:hover{
                background-color: #013183;
                color: #fff;
            }
            &.active{
                background-color: #013183;
                color: #fff;
            }

        }
        
    }
}
}

//promo-tab End

//footer-area-start
.footer-area{
    color: #FFFFFF;
    background-image: url(..//images/main-header-bg.jpg);
    padding: 120px 0 80px;
}
.footer-logo-img{
    padding-bottom: 32px;
        img{
            width: 60%;
            position: relative;
            top: -20px;
        }
        }  

.content{
   
    p{
        padding:  0 45px 32px 0;;
        font-size: 20px;
        line-height: 34px;
        font-weight: 500px;
    }
    ul{
        display: flex;
        column-gap: 16px;
        li{
            list-style: none;
            background-color:#012665;
            color:#FFFFFF;
            height:50px;
            width: 50px;
            border-radius: 336px;
            line-height: 50px;
            text-align: center;
            &:hover{
                color: #FF5400;
                background-color: #FFFFFF;;
            }
          
        }
    }
}
.widget-hedding{
    line-height: 37px;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 28px;
}
.widget-items{
    li{
    list-style: none;
    line-height: 44px;
        
    }
}
.contact-info{
    
    p{
        line-height: 36px; 
        margin-right: 20px;
        
        i{
            margin-right: 20px;
            display: flex;
        }
    }
}
// breakdown-start
nav{
    .manu{
        display: flex;
        column-gap: 30px;
        height: 200px;
       
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: #111;
                &:hover{
                    color: #FF5400;
                }
            }
            &.has-dropdown{
                position: relative;
                .d-manu{
                    position: absolute;
                    left: 0;
                    padding-top: 20px!important;
                    visibility: hidden;
                    opacity: 0;
                    transform: translateX(-50px);
                    transition: all 300ms ease-in-out;
                    a{
                        background-color: #111;
                        color: #fff;
                        padding: 5px 10px;
                        display: block;
                        &:hover{
                            background-color: transparent;
                            color: #111;
                        }

                    }
                }
                &:hover{
                    .d-manu{
                        visibility: visible;
                        opacity: 1;
                        transform: translateX(0);
                        width: 230px;
                      
                        
                    }
                }
            }
        }
        
    }
}
